*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
*.pem
jdauphant.nginx
packer/variables.json

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache

#python virtualenv
ansible/molecule/
